.lein-repl-history
/classes
/lib
deploy/lib
deploy/logs
.emacs-project
*.jar
bin/jzmq
.DS_Store
pom.xml
deploy/classes
*.fyc
*.rbc
*.pyc
CHILD
CHILDMAKER
NANNY
\#project.clj\#
.\#project.clj
.lein-failures
_release
*.zip
*.tar.gz
.lein-deps-sum
*.iml
target
/.project/
/.lein-plugins/
*.ipr
*.iws
.idea
