.lein-repl-history
/classes
/lib
deploy/lib
.emacs-project
bin/jzmq
.DS_Store
deploy/classes
*.fyc
*.rbc
*.pyc
CHILD
CHILDMAKER
NANNY
\#project.clj\#
.\#project.clj
.lein-failures
_release
*.zip
*.tar.gz
.lein-deps-sum
target
/.project/
/.lein-plugins/
#.*
!/.travis.yml
!/.gitignore
_site
dependency-reduced-pom.xml
metastore_db
build
/docs/javadocs
*.class

# logs
logs
*.log

# Eclipse
.settings/
.project
.classpath

# Intellij
*.iml
*.ipr
*.iws
.idea

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
