INSTALL
aclocal.m4
config/
src/zmq.jar
src/Zmq.jar
perf/zmq-perf.jar
Makefile
Makefile.in
autom4te.cache
config.log
config.status
configure
libtool
*.stamp
stamp-*
*.class
.deps
.libs
*.la
*.o
*.lo
*~
src/config.hpp*
src/org_zeromq_*.h
lib/
target/
.classpath
.project
.settings/
build-stamp
configure-stamp
builds/msvc/msvc.ncb
builds/msvc/msvc.suo
builds/msvc/jzmq/jzmq.vcproj.*
builds/msvc/local_lat/local_lat.vcproj.*
builds/msvc/local_thr/local_thr.vcproj.*
builds/msvc/remote_lat/remote_lat.vcproj.*
builds/msvc/remote_thr/remote_thr.vcproj.*
builds/msvc/jzmq/Debug/
builds/msvc/local_lat/Debug/
builds/msvc/local_thr/Debug/
builds/msvc/remote_lat/Debug/
builds/msvc/remote_thr/Debug/
builds/msvc/jzmq/Release/
builds/msvc/local_lat/Release/
builds/msvc/local_thr/Release/
builds/msvc/remote_lat/Release/
builds/msvc/remote_thr/Release/
debian/files
debian/jzmq.debhelper.log
debian/jzmq.postinst.debhelper
debian/jzmq.postrm.debhelper
debian/jzmq.substvars
debian/jzmq/
debian/tmp/
