########### These MUST be filled in for a storm configuration
# storm.zookeeper.servers:
#     - "server1"
#     - "server2"
# 
# nimbus.host: "nimbus"
# 
# 
# ##### These may optionally be filled in:
#    
## List of custom serializations
# topology.serializations: 
#     - "org.mycompany.MyObjectSerialization"
#     - "org.mycompany.MyOtherObjectSerialization"
#
## Locations of the drpc servers
# drpc.servers:
#     - "server1"
#     - "server2"
